html {
    font-size: 1rem;
    background-image: url(phone.jpg); 
     background-repeat: repeat-y;
     background-attachment: fixed;
     background-position: center; 
}

:root{
    --colour: antiquewhite;
}

#font{
  font-family: "Arimo";
}

th{
    border: 0.2rem solid black;
    background-color: pink;
    color: brown;
    padding: 0.5rem;
}


td {
    border: 0.2rem solid black;
    color: black;
    padding: 0.5rem;
}

tbody tr:nth-child(even) {
    background-color: var(--colour);
}

